.mainContainer{
  background-color: rgb(162, 255, 118);
  width: 100%;
  min-height: 100vh;
}
.inputAreas{
  background-color: #fff;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 26px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 26px -8px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 26px -8px rgba(0,0,0,0.75);
}
.blockSection .inputAreas{
  height: 100%;
}
.innerSec ul{
  padding-left: 0;
}
.innerSec ul li{
  position: relative;
  list-style: none;
  background-color: #f4f4f4;
  padding: 8px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.innerSec ul li .icon-group{
  position: absolute;
  right: 0;
}
.icon-group button{
  border: none;
  background-color: transparent;
  padding: 0 8px;
}
.headerTitle h4 {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.icon-group button:disabled,
.icon-group button[disabled]{
  opacity: .5;
}